<div class="card mb-3">
    <!-- Заголовок карточки -->
    <div class="card-header bg-success text-white" id="headingBusiness" tabindex="0" data-toggle="collapse"
        data-target="#business" aria-expanded="true" aria-controls="business">
        <div class="row">
            <div class="col-6">
                <h6 class="mb-0">
                    <div class="row">
                        <div class="col-2">
                            <i class="fas fa-business-time pt-1"></i>
                        </div>
                        <div class="col-10">
                            <div class="card-title" id="sap" tabindex="0" data-html="true" data-toggle="tooltip"
                                data-placement="right" data-original-title="Основные бизнес показатели">
                            </div>
                        </div>
                    </div>                      
                </h6>
            </div>
            <div class="col-3">
                <h6><div class="text-center" id="sap_name"></div></h6>
            </div>
            <div class="col-3">
                <h6 class="text-right" id="open_close_business"></h6>
            </div>
        </div>
    </div>
    <!-- Тело карточки -->
    <div id="business" class="collapse show" aria-labelledby="headingBusiness">
        <div class="card-body-block bg-light">
            <div class="row">


                <!-- Продажи -->
                <div class="col-12">
                    <div class="card bg-success text-white my-1" id="rto_traffic_check_theme">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-3">
                                    <h6 class="card-title text-center"></h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Сегодня</h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Неделю назад</h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Год назад</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body click_detect" tabindex="0" data-toggle="modal" id="business_revenue_new_body">
                            <div class="row" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="" id="business_revenue_new_tooltip">
                                <div class="col-3">
                                        <h5 class="card-title">Продажи (₽)</h5>                             
                                    <small class="float-left" id="business_revenue_new_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id='today_revenue'>-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="lw_revenue">-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="ly_revenue">-</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" id="business_checks_traffic_body">
                            <div class="row" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Количество продаж за сегодня | Количество продаж неделей ранее | Количество продаж год назад<br>
                                                                        Блок обновляется каждые 15 минут">
                                <div class="col-3">
                                        <h5 class="card-title">Трафик</h5>
                                    <small class="float-left" id="business_checks_traffic_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="today_traffic">-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="lw_traffic">-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="ly_traffic">-</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" id="business_average_check_body">
                            <div class="row" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Средний чек за сегодня | Средний чек неделей ранее | Средний чек год назад<br>
                                                                        Блок обновляется каждые 15 минут">
                                <div class="col-3">
                                        <h5 class="card-title">Средний чек (₽)</h5>
                                    <small class="float-left" id="business_average_check_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="today_av_check">-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="lw_av_check">-</h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-title text-center" id="ly_av_check">-</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Отчет (Продажи) -->
                <div class="modal fade" id="business_revenue_new_modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Продажи</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_revenue_new_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_revenue_new_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Отчет (Средний чек) -->
                <div class="modal fade" id="business_average_check_modal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Средний чек</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_average_check_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_average_check_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Отчет (Трафик чеков) -->
                <div class="modal fade" id="business_checks_traffic_modal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Трафик чеков</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_checks_traffic_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_checks_traffic_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- РТО -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_rto_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Плановый РТО на текущий месяц | Суммарный РТО за месяц на текущий закрытый кассовый день<br>Плановый % по удельным весам | % накопленного РТО на текущий закрытый кассовый день по отношению к плану<br>Блок обновляется 1 раз в день">
                            <h6 class="card-title text-center">План РТО на месяц | РТО накопленное на текущий закрытый кассовый день</h6>
                        </div>
                        <div class="card-body" id="business_rto_body">
                            <h4 class="card-text text-center" id="business_rto_body_text">-</h4>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_rto_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_rto_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Отмененные чеки -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_canceled_checks_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Аннулированные чеки за текущий день<br><br>Блок обновляется каждые 15 минут<br>(При нажатии на блок можно получить дополнительную информацию и скачать отчет)">
                            <h6 class="card-title text-center">Отмененные чеки</h6>
                        </div>

                        <div class="card-body" tabindex="0" data-toggle="modal" id="business_canceled_checks_body">
                            <h4 class="card-text text-center" id="business_canceled_checks_body_text">-</h4>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_canceled_checks_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_canceled_checks_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="business_canceled_checks_modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Отмененные чеки</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_canceled_checks_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_canceled_checks_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Списания -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_write_offs_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="Общая сумма фактических закрытых списаний за текущий месяц по магазину<br>(Процент от суммарного РТО на текущий закрытый кассовый день)<br><br>
                                                Общая сумма фактических закрытых списаний за текущую неделю по магазину<br>(Процент от суммарного РТО на текущий закрытый кассовый день)<br><br>
                                                Блок обновляется каждые 15 минут">
                            <h6 class="card-title text-center">Списания без учета компенсаций</h6>
                        </div>
                        <div class="card-body" id="business_write_offs_body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-text text-center" id="business_write_offs_body_text_m">-</h5>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-text text-center" id="business_write_offs_body_text_w">-</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_write_offs_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_write_offs_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Скорость сканирования кассиров -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_sellers_perfom_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="Скорость сканирования кассиров<br><br>Блок обновляется раз в день (в 8 утра)<br>(При нажатии на блок можно получить дополнительную информацию)">
                            <h6 class="card-title text-center">Скорость сканирования кассиров</h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal"
                            id="business_sellers_perfom_body">
                            <h4 class="card-text text-center" id="business_sellers_perfom_body_text">-</h4>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_sellers_perfom_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_sellers_perfom_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="business_sellers_perfom_modal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Скорость сканирования кассиров</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_sellers_perfom_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_sellers_perfom_month_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет за месяц</a>
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_sellers_perfom_week_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Незакрытие документы приемки -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_open_documents_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Количество открытых буферных документов<br>Блок обновляется каждые 15 минут">
                            <h6 class="card-title text-center">Незакрытые документы приемки</h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal"
                            id="business_open_documents_body">
                            <h4 class="card-text text-center" id="business_open_documents_body_text">-</h4>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_open_documents_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_open_documents_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="business_open_documents_modal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Незакрытые документы приемки</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_open_documents_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_open_documents_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Продажи по старой цене -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_old_price_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Количество продаж на кассах по старой цене за сегодня и вчерашний день<br><br>Блок обновляется раз в день (в 8 утра)<br>(При нажатии на блок можно получить подробную информацию и скачать отчет)">
                            <h6 class="card-title text-center">Продажи по старой цене</h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal"
                            id="business_old_price_body">
                            <h4 class="card-text text-center" id="business_old_price_body_text">-</h4>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_old_price_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_old_price_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="business_old_price_modal" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">Продажи по старой цене</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="business_old_price_modal_body">
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary text-white"
                                    href="{% url 'business_old_price_report' full_sap=full_sap %}"
                                    target="_blank">Скачать
                                    отчет</a>
                                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Markdown -->
                <div class="col-12">
                    <div class="card bg-dark text-white my-1" id="business_markdown_theme">
                        <div class="card-header" tabindex="0" data-html="true" data-toggle="tooltip"
                            data-placement="right" data-original-title="Markdown<br>Блок обновляется каждые 15 минут">
                            <div class="row">
                                <div class="col-3">
                                    <h6 class="card-title text-center">Бюджет уценки для продаж на тек-й месяц</h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Бюджет уценки для наклеек на тек-й месяц</h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Остаток бюджета уценки для продаж</h6>
                                </div>
                                <div class="col-3">
                                    <h6 class="card-title text-center">Остаток бюджета уценки для наклеек</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" id="business_markdown_body">
                            <div class="row">
                                <div class="col-3">
                                    <h4 class="card-text text-center" id="business_markdown_body_text_0"></h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-text text-center" id="business_markdown_body_text_1"></h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-text text-center" id="business_markdown_body_text_2"></h4>
                                </div>
                                <div class="col-3">
                                    <h4 class="card-text text-center" id="business_markdown_body_text_3"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row text-center">
                                <div class="col-6">
                                    <small class="float-left" id="business_markdown_footer_msg"></small>
                                </div>
                                <div class="col-6 mb-0">
                                    <small class="float-right" id="business_markdown_footer_time" data-toggle="tooltip"
                            data-placement="right" data-original-title="Время последнего обновления блока"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>