<div class="card mb-3" id="poses_card">
    <div class="card-header bg-dark text-white" id="poses_theme">
        <div class="row">
            <div class="col-2">
                <h6 class=" mb-0"><i class="fas fa-cash-register pt-1"></i> Кассы</h6>
            </div>
            <div class="col-4" >
                    <small class="float-left" id="poses_footer_msg"></small>
            </div>
            <div class="col-6">
                    <small class="float-right" id="poses_footer_time" data-toggle="tooltip"
                        data-placement="right" data-original-title="Время последнего обновления блока"></small>
            </div>
            {% comment %} <div class="col-1">
                    <div class="spinner-border spinner-border-sm mb-0 float-right" role="status"></div>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="card-body-p0 bg-light" id="poses_body">

    </div>
</div>

