<div class="card mb-3">
    <div class="card-header bg-success text-white" id="headingServices" tabindex="0" data-toggle="collapse"
        data-target="#services" aria-expanded="true" aria-controls="services">
        <div class="row">
            <div class="col-11">
                <h6 class=" mb-0">
                    <i class="fas fa-briefcase pt-1"></i>
                    Доступность основных сервисов

                </h6>
            </div>
            {% comment %} <div class="col-1 mb-0">
                <div class="spinner-border spinner-border-sm mb-0 float-right" role="status"></div>
            </div> {% endcomment %}
        </div>
    </div>
    <div id="services" class="collapse show" aria-labelledby="headingServices">
        <div class="card-body-block bg-light">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="services_loyalty" tabindex="0" data-html="true"
                        data-toggle="tooltip" data-placement="bottom">
                        <div class="card-body-block">
                            <p class="text-center mb-0">Лояльность <i
                                    class="fas fa-piggy-bank float-right pt-1 pr-1"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="services_cashless" tabindex="0" data-html="true"
                        data-toggle="tooltip" data-placement="bottom">
                        <div class="card-body-block">
                            <p class="text-center mb-0">Безналичный расчет <i
                                    class="fas fa-credit-card float-right pt-1 pr-1"></i></p>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="services_net" tabindex="0" data-html="true"
                        data-toggle="tooltip" data-placement="top">
                        <div class="card-body-block">
                            <p class="text-center mb-0">Cвязь <i class="fas fa-network-wired float-right pt-1 pr-1"></i>
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="services_alcohol" tabindex="0" data-html="true"
                        data-toggle="tooltip" data-placement="bottom">
                        <div class="card-body-block">
                            <p class="text-center mb-0">Алкоголь <i
                                    class="fas fa-wine-bottle float-right pt-1 pr-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>