{% extends 'main/base.html'%}
{% load static %}
{% load filters %}

{% block script %}
<script>
    var full_sap = '{{full_sap}}';
    </script>
    <script src="{% static 'main/js/dashboard/kso.js' %}"></script>
    <script src="{% static 'main/js/dashboard/business.js' %}"></script>
    <script src="{% static 'main/js/dashboard/products.js' %}"></script>
    <script src="{% static 'main/js/dashboard/services.js' %}"></script>
    <script src="{% static 'main/js/dashboard/poses.js' %}"></script>
    <script src="{% static 'main/js/dashboard/scales.js' %}"></script>
    <script src="{% static 'main/js/dashboard/dashboard.js' %}"></script>
{% endblock %}
{% block title %}
X5 Retail Group
{% endblock %}



{% block Content %}
    <div class="row">
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_business.html" %}
        </div>
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_products.html" %} 
            {% include "main/dashboard/_poses.html" %}
            {% include "main/dashboard/_kso.html" %}
            {% include "main/dashboard/_scales.html" %}
            {% include "main/dashboard/_services.html" %}   
        </div> 
    </div>
{% endblock %}
