{% extends 'main/base_6_1.html'%}
{% load static %}
{% load filters %}

{% block script %}
<script>
    var full_sap = '{{full_sap}}';
    </script>
    <script src="{% static 'main/js/dashboard/kso_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/business_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/products_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/services_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/poses_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/scales_6_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/dashboard_6_1.js' %}"></script>
{% endblock %}
{% block title %}
X5 Retail Group
{% endblock %}



{% block Content %}
    <div class="row">
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_business_6_1.html" %}
        </div>
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_products_6_1.html" %} 
            {% include "main/dashboard/_poses_6_1.html" %}
            {% include "main/dashboard/_kso_6_1.html" %}
            {% include "main/dashboard/_scales_6_1.html" %}
            {% include "main/dashboard/_services_6_1.html" %}   
        </div> 
    </div>
{% endblock %}
