{% extends 'main/base_3_1.html'%}
{% load static %}
{% load filters %}

{% block script %}
<script>
    var full_sap = '{{full_sap}}';
    </script>
    <script src="{% static 'main/js/dashboard/kso_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/business_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/products_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/services_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/poses_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/scales_3_1.js' %}"></script>
    <script src="{% static 'main/js/dashboard/dashboard_3_1.js' %}"></script>
{% endblock %}
{% block title %}
X5 Retail Group
{% endblock %}



{% block Content %}
    <div class="row">
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_business_3_1.html" %}
        </div>
        <div class="col-xl-6 col-md-12">
            {% include "main/dashboard/_products_3_1.html" %} 
            {% include "main/dashboard/_poses_3_1.html" %}
            {% include "main/dashboard/_kso_3_1.html" %}
            {% include "main/dashboard/_scales_3_1.html" %}
            {% include "main/dashboard/_services_3_1.html" %}   
        </div> 
    </div>
{% endblock %}
