{% extends 'main/base_6_1.html'%}
{% load static %}

<head>
    <!-- Required meta tags -->
    <link rel="shortcut icon" href="{%  static 'main/img/favicon_6.ico' %}">
    <link rel="stylesheet" href="{%  static 'main/css/font_awesome_6_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/base_6_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/sticky-footer_6_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/datatables_6_1.min.css' %}">
    <script src="{% static 'main/js/jquery_6_1.min.js' %}"></script>
    <script src="{% static 'main/js/popper_6_1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap_6_1.min.js' %}"></script>
    <script src="{% static 'main/js/jquery_6_1.easing.min.js' %}"></script>
    <script src="{% static 'main/js/sb-admin-2_6_1.min.js' %}"></script>
    <script src="{% static 'main/js/datatables_6_1.min.js' %}"></script>
    <script src="{% static 'main/js/kick_stores_6_1.js' %}"></script>

    {% block script %}
    {% endblock %}
    <title>
        X5 Reatail Group
    </title>
</head>

{% block Content %}
<div class="container mx-2 my-4">
    <input class="form-control my-1" style="width: 200px;" placeholder="САП магазина" id='sap'>
    <button type="button" class="btn btn-danger" id="kick_store" style="width: 200px;">Пнуть магазин</button>
</div>
<div class="container mx-2 my-6">
    <button type="button" class="btn btn-warning" id="kick_all_stores" style="width: 200px;">Пнуть все магазины</button>
</div>
{% endblock %}
