{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'main/img/favicon_2_1.ico' %}">
    <link rel="stylesheet" href="{%  static 'main/css/font_awesome_2_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/base_2_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/sticky-footer_2_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/datatables_2_1.min.css' %}">
    <script src="{% static 'main/js/jquery_2_1.min.js' %}"></script>
    <script src="{% static 'main/js/popper_2_1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap_2_1.min.js' %}"></script>
    <script src="{% static 'main/js/jquery_2_1.easing.min.js' %}"></script>
    <script src="{% static 'main/js/kpi_3_1.js' %}"></script>
    <title>
        X5 Reatail Group
    </title>
</head>

<div class="row">
    <div class="col-2 mx-4 my-4">
        <div class="container my-2">
            <h4>Фильтрация</h4>
        </div>
        <div class="container my-2">
            <select class="form-control" id="kpi_filter" required>
                <option disabled selected>Вариант фильтра</option>
                <!-- <option id="day">За день</option> -->
                <option id="period">За период</option>
                <option id="month">За месяц</option>
                <option id="week">За неделю</option>
                <option id="all">За все время</option>
            </select>
        </div>
        <!-- <div class="container my-2" id="day_div" style="display: none;">
            <input class="form-control" type="date" name="date" id="one_day">
        </div> -->
        <div class="container my-2" id="period_div" style="display: none;">
            <div id="start">
                <input class="form-control my-2" type="date" name="date_start" id="start_date">
            </div>
            <div id="end">
                <input class="form-control my-2" type="date" name="date_end" id="end_date">
            </div>
        </div>
        <div class="container my-2" id="month_div" style="display: none;">
            <input class="form-control" type="month" name="month" id="one_month">
        </div>
        <div class="container my-2" id="week_div" style="display: none;">
            <input class="form-control" type="week" name="week" id="one_week">
        </div>
        <div class="container my-2">
            <button type="button" class="btn btn-dark" id="get_kpi_button">Применить</button>
        </div>
        <div class="container my-3">
            <a type="button" class="btn btn-dark text-white" id="excel_all" style="width: 300px;">Скачать отчет по всем пользователям</a>
        </div>
        <div class="container my-4">
            <a type="button" class="btn btn-dark text-white" id="excel_active" style="width: 300px;">Скачать отчет по активным пользователям</a>
        </div>
        <div class="container my-4">
            <a type="button" class="btn btn-dark text-white" id="excel_kpi" style="width: 300px;">Скачать метрики</a>
        </div>
    </div> 
    <div class="col-8 mx-4" id="kpi_img">
        <!-- <img src="/media/heatmap.png"> -->
    </div>
</div>
