{% extends 'main/base_5_1.html'%}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'main/img/favicon_5.ico' %}">
    <link rel="stylesheet" href="{%  static 'main/css/font_awesome_5_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/base_5_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/sticky-footer_5_1.css' %}">
    <link rel="stylesheet" href="{%  static 'main/css/datatables_5_1.min.css' %}">
    <script src="{% static 'main/js/jquery_5_1.min.js' %}"></script>
    <script src="{% static 'main/js/popper_5_1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap_5_1.min.js' %}"></script>
    <script src="{% static 'main/js/jquery_5_1.easing.min.js' %}"></script>
    <script src="{% static 'main/js/nps_5_1.js' %}"></script>
    <title>
        X5 Reatail Group
    </title>
</head>

{% block Content %}
<div class="container mx-2">
    <button class="btn btn-warning" id="nps_button">Собрать NPS за вчера</button>
</div>
{% endblock %}