{% load static %}
<head>
<link rel="shortcut icon" href="{%  static 'main/img/favicon_5.ico' %}">
<link rel="stylesheet" href="{%  static 'main/css/font_awesome_5_1.css' %}">
<link rel="stylesheet" href="{%  static 'main/css/base_5_1.css' %}">
<link rel="stylesheet" href="{%  static 'main/css/sticky-footer_5_1.css' %}">
<link rel="stylesheet" href="{%  static 'main/css/datatables_5_1.min.css' %}">
</head>
<title>HR загрузчик</title>

<form action="file/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="container" style="margin-left: 30px; margin-top: 30px;">
        <h1>HR загрузчик</h1>
        <div class="form-group">
            <input type="file" class="form-control-file" name="document" accept=".xls,.xlsx">
            <input class="btn btn-primary my-2" type="submit" value="Загрузить"></input>
        </div>
    </div>
</form>